
.swiper {
    width: 100%;
    height: 100%;
    /* position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px; */
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  