* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  scroll-behavior: smooth;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  position: inherit !important
}

.css-1u2w381-MuiModal-root-MuiDrawer-root {
  z-index: inherit!important
}

/* From uiverse.io by @nikk7007 */
/* From uiverse.io by @nikk7007 */
.signInBtn {
  --color: #2dbe6c;
  width: 100%;
  padding: 0.8em 0em;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .signInBtn::before, .signInBtn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .signInBtn::before {
  top: -1em;
  left: -1em;
 }
 
 .signInBtn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .signInBtn:hover::before, .signInBtn:hover::after {
  height: 410px;
  width: 800px;
 }
 
 .signInBtn:hover {
  color: #ffffff;
 }
 
 .signInBtn:active {
  filter: brightness(.8);
 }

 .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  position: static !important;
 }

 /* profile update button css  */
 /* From uiverse.io by @barisdogansutcu */
 .profileUpdateBtn{
  width: 100%;
  padding: 1em 0em;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  margin: 20px 0px ;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.425) 0 0 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 .profileUpdateBtn:hover {
  letter-spacing: 3px;
  cursor: pointer;
  background-color: rgb(17, 219, 142);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(37, 202, 153) 0px 7px 29px 0px;
 }
 
 .profileUpdateBtn:active {
  letter-spacing: 2px;
  background-color: rgb(24, 220, 155);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(24, 220, 171) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }


 /* for the chart dibugging */
 .css-152irm5 {
  padding: 0!important
}