.FormGroup {
	padding: 15;
	color: black;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15px;
}
